{% extends "base.html" %}

{% block pageheading %}Administration{% endblock %}

{% block main %}
<h4>Add a word</h4>
<form class="myform" method="POST" action="/add_word">
     <div class="form-group">
        <div class="form-label">Maori:</div>
        <div class="form-element"><label for="Maori"></label><input type="text" name="Maori" id="Maori" required></div>
     </div>
     <div class="form-group">
        <div class="form-label">English:</div>
        <div class="form-element"><label for="English"></label><input type="text" name="English" id="English" required></div>
     </div>
     <div class="form-group">
        <div class="form-label">Definition:</div>
        <div class="form-element"><label for="Definition"></label><input type="text" name="Definition" id=Definition" required></div>
     </div>
     <div class="form_group">
         <div class="form-label">Category:</div>
           <select id="cat_id" name="cat_id">
                {% for category in categories %}
                <option value="{{ category[0]}}">{{ category[1] }}</option>
                {% endfor %}
           </select><br>
     </div>
     <div class="form_group">
         <div class="form-label">Level:</div>
        <select id="Level" name="Level">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select><br>
    </div>
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="submit"></div>
    </div>
</form>
{% endblock %}