{% extends "base.html" %}

{% block pageheading %}Administration{% endblock %}

{% block main %}
<h1>Add a word</h1>
<form class="myform" method="POST" action="/add_word">
     <div class="form-group">
        <div class="form-label">Maori:</div>
        <div class="form-element"><label for="Maori"></label><input type="text" name="Maori" id="Maori" required></div>
     </div>
     <div class="form-group">
        <div class="form-label">English:</div>
        <div class="form-element"><label for="English"></label><input type="text" name="English" id="English" required></div>
     </div>
     <div class="form-group">
        <div class="form-label">Definition:</div>
        <div class="form-element"><label for="Definition"></label><input type="text" name="Definition" id=Definition" required></div>
     </div>
     <div class="form_group">
         <div class="form-label">Category:</div>
           <select id="cat_id" name="cat_id">
                {% for category in categories %}
                <option value="{{ category[0]}}">{{ category[1] }}</option>
                {% endfor %}
           </select><br>
     </div>
     <div class="form-group">
        <div class="form-label">Image:</div>
        <div class="form-element">
            <label for="Image"></label>
            <input type="file" name="Image" id="Image">
            <input type="checkbox" name="NoImage" id="NoImage" value="noimage">
            <label for="NoImage">No Image</label>
        </div>
     </div>
     <div class="form_group">
         <div class="form-label">Level:</div>
        <select id="Level" name="Level">
            {% for level in range(1,10) %}
             <option value="1\{{ level }}">{{ level }}</option>
            {% endfor %}
        </select><br>
    </div>

    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="submit"></div>
    </div>
</form>
    <script>
    const imageInput = document.getElementById('Image');
    const noImageCheckbox = document.getElementById('NoImage');
    noImageCheckbox.addEventListener('change', () => {
        if (noImageCheckbox.checked) {
            imageInput.disabled = true;
        } else {
            imageInput.disabled = false;
        }
    });
</script>
{% endblock %}