{% extends 'base.html' %}

{% block title %}Maōri Dictionary |     Home{% endblock %}

{% block heading %}Maōri - English Dictionary-Word List{% endblock %}

{% block main %}
<table>
<tr>
    <td><h3>Maōri</h3></td>
    <td><h3>English</h3></td>
    <td><h3>Category</h3></td>
    <td><h3>Level</h3></td>
    <td><h3>Definition</h3></td>
    <td><h3>Editor</h3></td>
</tr>
    {% for word, editor, category in word_list %}
      <tr>
        <td><a href="{{ url_for('word_detail',word_id=word[5]) }}">{{ word['Maori'] }}</a></td>
          <td><a href="{{ url_for('word_detail',word_id=word[5]) }}">{{word['English'] }}</a></td>
        <td>{{ category['cat_name'] }}</td>
        <td>{{ word['Level'] }}</td>
        <td>{{ word['Definition'] }}</td>
        <td>{{ editor['fname'] }}</td>
      </tr>
    {% endfor %}
</table>
{% endblock %}