{% extends 'base.html' %}

{% block title %}Maōri Dictionary |     Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
  <head>
    <title>{{ word[0] }}</title>
  </head>
  <body>

    <h1>{{ word[0] }} ({{ word[1] }})</h1>
    <h3>Definition:</h3><h5>{{ word[3] }}</h5>
    <h3>Category:</h3><h5>{{ category[0] }}</h5>
    <h3>Level:</h3><h5>{{ word[4] }}</h5>
    <img src="/static/images/{{ word[7] }}">
    <h4>Editor:</h4><h5>{{ editor[0] }}</h5>
    <h4>Create date:</h4><h5>{{ word[8] }}</h5>
  </body>
    {% if teacher_in %}
     <form method="POST" action="/word/{{ word['word_id'] }}/delete">
     <button type="submit" onclick="return confirm('Are you sure you want to delete this word?')">Delete Word</button>
     </form>
  {% endif %}
{% endblock %}
